/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 11:20:03 AM
    Author     : rciampa
*/

div.content-window{
    height: 900px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

div.pulse-glow{
	animation: glow 3s infinite;
	transition-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-delay:.85s;
	opacity: 1;
	border-radius: 20px;
	padding: 5px;
}

@keyframes glow{
	0%  {box-shadow: 1px 1px 2px gold;
	     
	    }
	100%{box-shadow: 10px 10px 40px gold;
	    }
}